.dragging-in-progress {
  cursor: grabbing;
  user-select: none;

  * {
    user-select: none;
  }
}

.widget-drag-shadow {
  z-index: 0;
  opacity: 0;
  position: fixed;
  border-radius: 20px;
  pointer-events: none;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed rgba(255, 255, 255, 0.4);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.dragging-pane {
  user-select: none;
  position: relative;

  &:hover {
    cursor: grab;
  }
}

.dragging-pane {
  transform-origin: 50% 60%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  will-change: transform;

  // Uncomment to enable jiggle effect
  // &:not(.dragging) {
  //   animation-name: ios-jiggle;
  // }
}

@keyframes ios-jiggle {
  0% {
    transform: rotate(calc(var(--rot) * -1))
      translate(calc(var(--dx) * -1), var(--dy));
  }
  50% {
    transform: rotate(var(--rot)) translate(var(--dx), calc(var(--dy) * -1));
  }
}

// Temp
.widget-remove {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include make-flex();
  // padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  background-color: var(--widget-color);
  color: white;
  z-index: 10;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: grey;
  }
}
