:root {
  --views-recessed-material-view: rgba(0, 0, 0, 0.1);
  --views-thin: rgba(255, 255, 255, 0.07);
  --views-regular: rgba(214, 214, 214, 0.45);
  --views-thicker: rgba(218, 218, 218, 0.92);
  --views-stroke-recessed-specular: rgba(0, 0, 0, 0);

  --windows-glass: rgba(128, 128, 128, 0.3);
  --windows-glass-keyboard: rgba(128, 128, 128, 0.3);
  --separators-separator: rgba(255, 255, 255, 0.07);

  --colors-red: #ff4245;
  --colors-orange: #ff9230;
  --colors-yellow: #ffd600;
  --colors-green: #30d158;
  --colors-mint: #00dac3;
  --colors-teal: #00d2e0;
  --colors-cyan: #3cd3fe;
  --colors-blue: #0091ff;
  --colors-indigo: #6d7cff;
  --colors-purple: #db34f2;
  --colors-pink: #ff375f;
  --colors-brown: #b78a66;
  --colors-gray: #98989d;
  --colors-black: #000;
  --colors-white-labels: rgba(255, 255, 255, 0.96);

  --controls-idle: rgba(255, 255, 255, 0.07);
  --controls-hover: rgba(255, 255, 255, 0.04);
  --controls-pinch: rgba(255, 255, 255, 0.16);
  --controls-selected: #fff;
  --controls-disabled: rgba(255, 255, 255, 0.04);

  --labels-primary: rgba(255, 255, 255, 0.96);
  --labels-secondary: rgba(255, 255, 255, 0.23);
  --labels-tertiary: rgba(255, 255, 255, 0.11);

  --vibrant-fills-vibrant-primary: #333;
  --vibrant-fills-vibrant-secondary: #1f1f1f;
  --vibrant-fills-vibrant-tertiary: #121212;
  --vibrant-labels-vibrant-primary: #fff;
  --vibrant-labels-vibrant-secondary: #999;
  --vibrant-labels-vibrant-tertiary: #404040;
  --vibrant-labels-vibrant-quaternary: #262626;
}
 