.FancyDetails {
	@include make-flex();
	@include box(100%, auto);

	& > summary {
		gap: 10px;
		padding: 10px;
		@include box($height: 40px);
		cursor: pointer;
		user-select: none;
		position: relative;
    font-size: 16px;
		border-radius: 6px;
		border-radius: 7px;
		background-color: rgba(184, 184, 184, 0.31);
		@include make-flex($dir: row, $just: flex-start);

		&::before {
			@include box(20px);
			@include make-flex();
			content: url(/assets/Images/closeFolder.svg);
		}
	}

	&[open] > summary {
		&::before {
			content: url(/assets/Images/openFolder.svg);
		}
	}

	& > ul {
		list-style: none;
		margin-top: 4px;
		@include box($height: auto);
		@include make-flex($align: flex-start, $just: flex-start);

		& > li {
			@include box($height: 30px);
			padding-left: 30px;
			@include make-flex($dir: row, $just: flex-start);
			gap: 10px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				border-left: 1px solid #e4e4e4;
				border-bottom: 1px solid #e4e4e4;
				border-radius: 0 0 0 6px;
				left: 12px;
				transform: translateY(-50%);
			}
			&:first-child {
				&::before {
					top: calc(50% - 8px);
					@include box(16px, 20px);
				}
			}
			&:not(:first-child) {
				&::before {
					top: calc(50% - 16px);
					@include box(16px, 34px);
				}
			}

			button {
				@include box(20px, 20px);
				padding: 3px;
        flex-shrink: 0;
				border-radius: 4px;
				background-repeat: no-repeat;
				background-position: center;
				@include make-flex();
				background-size: 100%;
				background-image: var(--favicon);
				cursor: pointer;
				outline: none;
				border: none;

				&::before {
					display: none;
					line-height: 100%;
					font-size: 15px;
				}

				&:hover {
					background-image: unset !important;
					background-color: #f37474;
					&::before {
						display: block;
						color: white;
					}
				}
			}

			a {
				font-size: 16px;
				color: #e4e4e4;
				text-decoration: none;
				@include box(100%, auto);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
